html, body {
    height: 100%;
}
body {
    margin:0px;
    padding: 0px;
    // color: $main-font-color;
}
.wrap {
  height: auto;
  margin: 0 auto -6em; /* footer height + space */
  min-height: 100%;
  padding: 0 0 6em; /* footer height + space */
  box-sizing: border-box;
  overflow: auto;
}

.projects {
  a:hover {
    img {
     opacity: 0.7;
    }
  }
}

.show {
  .img-responsive {
    max-width: 50% !important;
  }
}

@media screen and (max-width: 991px) {
  .projects {
    .bottom-lined {
      border-bottom: 1px dotted #BFBFBF;
      margin-bottom: 2em;
    }
    .md-size {
      max-width: 500px;
    }
  }
}

@media screen and (min-width: 768px) {
  .show {
    .img-responsive {
      max-width: 50% !important;
    }
  }
}
